@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: "Playfair Display", serif;
   color: #2A2A2A;
}

   .primary-button{
      background: #3A40D8;
      color: white;
     
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      border-radius: .4rem;
     align-items: center;
     width: fit-content;

   }
   .secondary-button{
      color: #3A40D8;
    background-color: transparent;
     border: solid #3A40D8;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      border-radius: .4rem;
     align-items: center;
     width: fit-content;

   }